.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.navbar {
  display: flex;
  background-color: rgb(10, 30, 60);
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  font-family: 'Raleway', sans-serif;
}

.navbar .title {
  transition-duration: 0.2s;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.05rem;
  display: block;
  color: rgb(120, 190, 255);
  margin: 15px;
  margin-left: 5vw;
}

.navbar .title img {
  height: 20px;
  transform: scale(1.8);
  margin-right: 10px;
}

.navbar .title:hover {
  opacity: 0.8;
}

.navbar .title a {
  color: inherit;
  text-decoration: none;
}

.navbar .pages {
  float: right;
  font-size: 1.05rem;
  margin-right: 10px;
}

.navbar .pages ul {
  display: flex;
  margin-right: 2vw;
  align-items: center;
}

.navbar .pages li {
  list-style: none;
  display: block;
  margin: 20px;
}

.navbar .pages a,
.navbar .pages span {
  color: rgb(200, 230, 255);
  text-decoration: none;
  list-style: none;

  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}

.navbar .pages #pageHover:hover {
  color: rgb(230, 245, 255);
  text-shadow: 2px 2px 5px rgba(120, 190, 255, 0.7);
}

.navbar .pages .terms {
  color: rgb(150, 200, 240);
}

.navbar .pages .terms:hover {
  color: rgb(180, 220, 255) !important;
  text-shadow: 2px 2px 5px rgba(140, 210, 255, 0.7) !important;
}

.navbar .pages .navBtn {
  cursor: pointer;
  color: rgb(160, 210, 255);
}

.navbar .pages .navBtn:hover {
  cursor: pointer;
  color: rgb(200, 230, 255) !important;
  text-shadow: 2px 2px 5px rgba(160, 220, 255, 0.7) !important;
}

.disc {
  color: rgb(150, 200, 240) !important;
}

.disc:hover {
  color: rgb(180, 220, 255) !important;
  text-shadow: 2px 2px 5px rgba(160, 220, 255, 0.7) !important;
}

.navbar .material-symbols-outlined {
  vertical-align: middle;
  margin-top: -2px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover {
  cursor: pointer;
}

.dropdown-links {
  display: none;
  opacity: 0;
  position: absolute;
  background-color: rgb(15, 40, 80);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 50, 120, 0.3);
  z-index: 1;
}

.dropdown-links a {
  text-align: center;
  color: rgb(170, 210, 255) !important;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-links a:hover {
  color: rgb(220, 240, 255) !important;
  background-color: rgb(30, 90, 160);
}

@keyframes dropdownFadeIn {
  from {
    margin-top: -10%;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}

@keyframes dropdownFadeOut {
  from {
    margin-top: 0;
    opacity: 1;
  }
  to {
    margin-top: -10%;
    opacity: 0;
  }
}

.navbar .hamburger {
  display: none;
  position: absolute;
  color: rgb(220, 240, 255);
  right: 20px;
  transform: scale(1.5);
  cursor: pointer;
  justify-content: space-between;

  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
}

.navbar .hamburger:hover {
  color: rgb(255, 255, 255);
}

/* RESPONSIVE */
@media (max-width: 700px) {
  .navbar .hamburger {
    display: flex;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .navbar .pages {
    display: flex;
    width: 100vw;
    margin: 0 !important;
    padding: 0 !important;
  }

  .pages ul {
    width: 100vw;
    flex-direction: column;
    background-color: rgb(20, 60, 120);
  }

  .pages ul li {
    text-align: center;
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
  }

  .pages ul li a {
    display: none;
    width: 100%;
    padding: 15px 0;
  }

  .show {
    display: block !important;
  }

  .navbar .pages #pageHover:hover {
    color: rgb(200, 230, 255);
    text-shadow: none !important;
    background-color: rgb(40, 110, 180);
  }
}

